PORT=3000
REDIS_URL=redis://redis:6379

UPS_OAUTH_URL=https://wwwcie.ups.com/security/v1/oauth
UPS_CLIENT_ID="your_client_id"
UPS_CLIENT_SECRET="your_client_secret"
UPS_MERCHANT_ID="your_merchant_id"
